/*
 * Define styles for all nested components
 */
.THIS .icn .slds-icon-text-default {
	fill: t(cmh18_iconFillColor);
}

.THIS .slds-button {
    width: 2rem;
    padding-right: 23px;
    padding-left: 11px;
}


/*
 * Define styles for this main component
 */

.THIS .cmh18_cev_right_panel {
    border-left: 1px solid #cccccc;
}