/*
 * Define styles for all nested components
 */
.THIS .icn .slds-icon-text-default {
	fill: t(cmh18_iconFillColor);
}

.THIS .cmh18_list_action {
    width: 2rem;
    padding-right: 23px;
    padding-left: 11px;
}


/*
 * Define styles for this main component
 */

.THIS .cmh18_cev_right_panel {
    border-left: 1px solid #cccccc;
}

.THIS .cev-col-date {
    width:15%
}

.THIS .cev-col-action {
    padding-left: 0 !important;
    width: 23%;
}

.THIS .cev-col-subject {
/*    width:60%;
 */
}

.THIS .cev-col-indicators {
    width:8%;
}