.THIS .icn .slds-icon-text-default {
	fill: #0070D2;
}
.THIS .cev-col-date {
    width:20%
}

.THIS .cev-col-action {
    padding-left: 0 !important;
    width: 10%;
}

.THIS .cmh18_cev_right_panel {
    border-left: 1px solid #cccccc;
}