.THIS {    
}

.THIS .cmh18_border_top {
    border-top: 1px solid #0070D2;    
}
.THIS .email_details h3 {
    font-weight: bold;
}

.THIS .email_details dt {
    width: 17%;
    font-weight: bold;
}

.THIS .cmh18_ed_body {
    border: 1px solid #0070D2;
    border-radius: 5px;
    padding: 10px;
}